LOCAL_PATH := device/__MANUFACTURER__/__DEVICE__

include $(CLEAR_VARS)

ALL_PREBUILT += $(INSTALLED_KERNEL_TARGET)

# include the non-open-source counterpart to this file
-include vendor/__MANUFACTURER__/__DEVICE__/AndroidBoardVendor.mk